services:
  maria_prod:
      image: mariadb:latest
      restart: unless-stopped
      container_name: maria_prod
      hostname: maria_prod
      environment:
      - MARIADB_DATABASE=prod_db
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - TZ=${TIME_ZONE}
      volumes:
      - "/opt/mariadb:/var/lib/mysql"
      networks:
      - pangolin
      healthcheck:
        test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
        start_period: 10s
        interval: 10s
        timeout: 5s
        retries: 3

networks:
  pangolin:
    external: true